#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	go build -o proxkube ./cmd/proxkube

override_dh_auto_install:
	install -D -m 0755 proxkube $(CURDIR)/debian/proxkube/usr/bin/proxkube
	install -D -m 0644 scripts/proxkube-daemon.service \
		$(CURDIR)/debian/proxkube/usr/lib/systemd/system/proxkube-daemon.service
	install -d $(CURDIR)/debian/proxkube/usr/share/proxkube/deploy/pve-plugin
	install -m 0644 deploy/pve-plugin/ProxKubePanel.js \
		$(CURDIR)/debian/proxkube/usr/share/proxkube/deploy/pve-plugin/
	install -m 0644 deploy/pve-plugin/proxkube.css \
		$(CURDIR)/debian/proxkube/usr/share/proxkube/deploy/pve-plugin/
	install -m 0644 deploy/pve-plugin/ProxKube.pm \
		$(CURDIR)/debian/proxkube/usr/share/proxkube/deploy/pve-plugin/

override_dh_auto_test:
	go test ./...
